
<nav class="navbar navbar-expand-md navbar-dark fixed-top"  style="background-color: brown" >
  <!--<a class="navbar-brand" href="#">Navbar</a> -->
  <a class="navbar-brand"  href="#"> <div ><img class="homebutton" src="assets/schoolLineCrop.png" alt="school" ></div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link bolder" href="leerlingen">Leerlingen</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link bolder" href="klassen">Klassen</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link bolder" href="docenten">Docenten</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link bolder" href="vakken">Vakken</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link bolder" href="toetsen">Toetsen</a>
      </li>
    </ul>
  </div>
</nav>


<!--
       <li class="nav-item active">
        <a class="nav-link" href="#">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">2de link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled link</a>
      </li>
-->