<!-- Footer -->
<footer class="page-footer font-small cyan darken-3" style= "background-color: brown; font-family: monospace;">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
   
    <!-- Copyright -->
    
    <div class="footer-copyright text-center py-3"style="color: black;">© 2020 Copyright:
      <a href="https://google.com" style="color: black;" > CijfersysteemBooja - Kamer 1 </a>
     
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->