<table class="table table-hover colorfill" style= "font-family: monospace">
    <thead class="colorheader">
        <th>ID</th>
        <th>Naam</th>
        <th>Niveau</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let KlasDto of klassen">
            <td>{{KlasDto?.id}}</td>
            <td>{{KlasDto?.naam}}</td>
            <td>{{KlasDto?.niveau}}</td>
            <td>
                <button class="button navbtn" type= "button" (click)="bekijkVakken(KlasDto)">Vakken</button>
            </td>
        </tr>
    </tbody>
</table>