<table class="table table-hover colorfill" style= "font-family: monospace">
    <thead class="colorheader">
        <th>ID</th>
        <th>Naam</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let vakDto of vakken">
            <td>{{vakDto.id}}</td>
            <td>{{vakDto.naam}}</td>
            <td>
                <button class="button navbtn" type="button" (click)="bekijkToetsenVanVak(vakDto)">Bekijk toetsen</button>
            </td>
        </tr>
        <tr>
            <td>
              <button type="button" class="button createbtn" data-toggle="modal" data-target="#exampleModalCenter">Maak Vak Aan</button>
            </td>
            <td></td>
            <td></td>
          </tr>
    </tbody>
</table>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Informatie Vak</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-text"> Vaknaam <input type="text" id="naamInput"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-primary" (click)="slaVakOp()">Opslaan</button>
            </div>
        </div>
    </div>
</div>