    <!-- Pas hier je menu html aan en copy paste deze dan naar alle klassen -->
    <div id="menu" class="sidenav" >
        <a href="KlassenOverzicht.html">Klassen</a>
        <a href="Leerlingoverzicht.html">Leerlingen</a>
        <a href="Docentoverzicht.html">Docenten</a>
        <a href="ToetsOverzicht.html">Toetsen</a>
        <a href="VakOverzicht.html">Vakken</a>
        <a href="VakToetsenOverzicht.html">Toetsen per vak</a>
        <a href="LeerlingToetsCijferOverzicht.html">Toetscijfers van een leerling</a>
        <a href="KlasVakOverzicht.html">Vakkenpakket per klas</a>
        <a href="KlasLeerlingOverzicht.html">Leerlingen per klas</a>
        <a href="DocentVakkenOverzicht.html">Vakken per docent</a>
        <a href="ToetsCijferOverzichtDocent.html">Cijferoverzicht voor docent</a>
    </div>