<table class="table table-hover colorfill" style= "font-family: monospace">
    <thead>
        <th>ID</th>
        <th>Datum</th>
        <th>Tijd</th>
        <th>Docent</th>
        <th>Vak</th>
        <th>Klas</th>
    </thead>
    <tbody>
        <tr *ngFor="let ToetsDto of toetsen">
            <td>{{ToetsDto.id}}</td>
            <td>{{ToetsDto.datum}}</td>
            <td>{{ToetsDto.tijd}}</td>
            <td>{{ToetsDto.docentnaam}}</td>
            <td>{{ToetsDto.vaknaam}}</td>
            <td>{{ToetsDto.klasnaam}}</td>
        </tr>
    </tbody>
</table>